@charset "UTF-8";
@font-face {
  font-family: "Climacons-Font";
  src: url("fonts/climacons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%; }

#weather {
  height: 100%; }
  #weather .flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  #weather h1 {
    flex-grow: 1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100px;
    margin: 0; }
  #weather h2 {
    flex-grow: 1;
    font-size: 150px;
    line-height: 100px;
    font-family: "Climacons-Font";
    margin: 0; }
    #weather h2 span {
      font-size: 80px; }

.klimato-temperature-0 {
  background-color: #52a5ff; }
  .klimato-temperature-0 .updated-at {
    color: #d2e7ff; }

.klimato-temperature-1 {
  background-color: #48efff; }
  .klimato-temperature-1 .updated-at {
    color: #c7faff; }

.klimato-temperature-2 {
  background-color: #4dff5a; }
  .klimato-temperature-2 .updated-at {
    color: #ccffd0; }

.klimato-temperature-3 {
  background-color: #ffe33d; }
  .klimato-temperature-3 .updated-at {
    color: #fff5bd; }

.klimato-temperature-4 {
  background-color: #ff9d37; }
  .klimato-temperature-4 .updated-at {
    color: #ffdbb6; }

.klimato-temperature-5 {
  background-color: #ff5131; }
  .klimato-temperature-5 .updated-at {
    color: #ffbdb1; }

.klimato-temperature-6 {
  background-color: #ff2c59; }
  .klimato-temperature-6 .updated-at {
    color: #ffacbd; }

.klimato-0:before {
  content: ""; }

.klimato-1:before {
  content: ""; }

.klimato-2:before {
  content: ""; }

.klimato-3:before {
  content: ""; }

.klimato-4:before {
  content: ""; }

.klimato-5:before {
  content: ""; }

.klimato-6:before {
  content: ""; }

.klimato-7:before {
  content: " "; }

.klimato-8:before {
  content: ""; }

.klimato-9:before {
  content: ""; }

.klimato-10:before {
  content: ""; }

.klimato-11:before {
  content: ""; }

.klimato-12:before {
  content: ""; }

.klimato-13:before {
  content: ""; }

.klimato-14:before {
  content: ""; }

.klimato-15:before {
  content: ""; }

.klimato-16:before {
  content: ""; }

.klimato-17:before {
  content: ""; }

.klimato-18:before {
  content: ""; }

.klimato-19:before {
  content: ""; }

.klimato-20:before {
  content: ""; }

.klimato-21:before {
  content: ""; }

.klimato-22:before {
  content: ""; }

.klimato-23:before {
  content: ""; }

.klimato-24:before {
  content: ""; }

.klimato-25:before {
  content: ""; }

.klimato-26:before {
  content: ""; }

.klimato-27:before {
  content: ""; }

.klimato-28:before {
  content: ""; }

.klimato-29:before {
  content: ""; }

.klimato-30:before {
  content: ""; }

.klimato-31:before {
  content: ""; }

.klimato-32:before {
  content: ""; }

.klimato-33:before {
  content: ""; }

.klimato-34:before {
  content: ""; }

.klimato-35:before {
  content: ""; }

.klimato-36:before {
  content: ""; }

.klimato-37:before {
  content: ""; }

.klimato-38:before {
  content: ""; }

.klimato-39:before {
  content: ""; }

.klimato-40:before {
  content: ""; }

.klimato-41:before {
  content: ""; }

.klimato-42:before {
  content: ""; }

.klimato-43:before {
  content: ""; }

.klimato-44:before {
  content: ""; }

.klimato-45:before {
  content: ""; }

.klimato-46:before {
  content: ""; }

.klimato-47:before {
  content: ""; }

/*# sourceMappingURL=styles.css.map */
